Your task is to solve a problem in propositional logic.
You will get a list of statements and have to determine whether the statements form a logical contradiction or not.
If the statements form a contradiction, the last word of your answer should be 'contradiction',
otherwise the last word should be either 'satisfiable' or 'unknown'.

Propositional variables are represented as 'pN' where N is a number. They are either true or false.
pN means that pN is true. not(pN) means that pN is false.
'X or Y' means that X is true or Y is true or both X and Y are true.
All the given statements are implicitly connected with 'and': they are all claimed to be true.
All the statements are horn clauses: this means that a statement is not allowed to contain more than one positive (without the 'not') variable.

In order to solve a problem, you must use the following method:
First, print out all the true variables which can be derived directly by some given statement from the given true variable statements in the input
and which are not already present in the given statements as one-variable statements.
Then, print out all the true variables which can be similarly derived by some given statement from both the newly printed true variables and
possibly other true variable statements in the input, and which have not been printed earlier.
Then continue the same procedure of printing out new directly derivable true variables, until either no new variables can be derived or a direct contradiction
is found with input and derived variables on one hand and some fully negative given statement on the other hand.
In case a contradiction is found, finally print 'contradiction'. In case no direct contradiction is found and no new true variables can be derived,
finally print 'satisfiable'.

Do not print out anything except the derivable true variables, separated by a blank space, and the final answer.

Twelve examples:
Example 1. Statements: p1. p2. not(p1). Answer: contradiction.
Example 2. Statements: p1. p2. not(p3). Answer: satisfiable.
Example 3. Statements: p1. not(p1) or p2. not(p2). Answer: p2 contradiction.
Example 4. Statements: p1. not(p1) or p3. not(p2) or not(p1). Answer: p3 satisfiable.
Example 5. Statements: p1. not(p1) or p2. not(p2) or p3. not(p3). Answer: p2 p3 contradiction.
Example 6. Statements: p1. not(p1) or p2. not(p2) or p1. not(p3). Answer: p2 satisfiable.
Example 7. Statements: p1. p3. not(p1) or p2. not(p2) or not(p3) or p4. not(p4). Answer: p2 p4 contradiction.
Example 8. Statements: p1. not(p1) or p2. not(p2) or not(p3) or p3. not(p3). Answer: p2 satisfiable.
Example 9.  Statements: p6. p3. not(p3) or p1. not(p4) or p5. not(p5) or not(p4). not(p1) or not(p6) or p4. Answer: p1 p4 p5 contradiction.
Example 10. Statements: p6. p3. not(p3) or p1. not(p4) or p5. not(p1) or not(p6) or p4. Answer: p1 p4 p5 satisfiable.
Example 11. Statements: p6. not(p3) or p4. not(p6) or p7. not(p5) or not(p6). not(p7) or p3. not(p4) or p5.  Answer: p7 p3 p4 p5 contradiction.
Example 12. Statements: p6. not(p3) or p4. not(p6) or p7. not(p5) or not(p6). not(p7) or p3. not(p4) or p7.  Answer: p7 p3 p4 satisfiable.

Please answer whether the following given statements form a logical contradiction or are satisfiable, using the method described above
and not printing out anything except the derivable true variables, separated by a blank space, and the final answer.

Statements:
{{ clauses }}

