Your task is to solve a problem in propositional logic containing both facts and if-then rules.
You will get a list of facts and if-then rules and have to determine whether a fact p0 can be derived from this list.
Print the newly derivable facts in the order they are derived, and finally print 'yes' if p0 is derived, otherwise 'no'.

Statements:
{{ clauses }}

Print only the derived facts (like p2 p4 ...) and the final yes/no.

