Your task is to solve a problem in propositional logic containing both facts and if-then rules.
You will get a list of facts and if-then rules and have to determine whether a fact p0 can be derived from this list.
If a fact p0 can be derived, the last word of your answer should be 'yes', otherwise the last word should be 'no'.

Statements:
{{ clauses }}

Please answer whether a fact p0 can be derived from the following facts and rules.

