annotated-types
anthropic
anyio
certifi
contourpy
cycler
distro
fonttools
h11
httpcore
httpx
idna
jiter
kiwisolver
matplotlib
numpy
packaging
pillow
pydantic
pydantic_core
pyparsing
python-dateutil
six
sniffio
typing-inspection
typing_extensions
